{% assign about_heading = include.heading_tag | default: "h1" %}
<section class="about-block">
  <{{ about_heading }}>About</{{ about_heading }}>
  <p class="lede">I am Md Sadman Sakib. People call me here by my last name "Sakib".</p>
  <p><img src="/assets/author.jpg" alt="Photo of Md Sadman Sakib" class="author-photo"></p>
  <p>I occassionally share updates regarding my work, my learnings (hopefully), and thoughts about how I perceive the world from a human standpoint. Currently, I am working at Google and trying to build tools that can make the lives of our users a bit easier.</p>
</section>
